In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = 200 
import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv("C:\\Users\\Akram siddiqui\\documents\\ExcelR\\Data science assignments\\EDA1/Cardiotocographic.csv")
df

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
0,120.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,73.0,0.5,43.000000,2.4,64.0,0.999926,2.000000
1,132.000000,0.006380,0.000000,0.006380,0.003190,0.0,0.0,17.0,2.1,0.000000,10.4,130.0,0.000000,1.000000
2,133.000000,0.003322,0.000000,0.008306,0.003322,0.0,0.0,16.0,2.1,0.000000,13.4,130.0,0.000000,1.000000
3,134.000000,0.002561,0.000000,0.007742,0.002561,0.0,0.0,16.0,2.4,0.000000,23.0,117.0,1.000000,1.000000
4,131.948232,0.006515,0.000000,0.008143,0.000000,0.0,0.0,16.0,2.4,0.000000,19.9,117.0,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121,140.000000,0.000000,0.961268,0.007426,0.000000,0.0,0.0,79.0,0.2,25.000000,7.2,40.0,0.000000,2.000000
2122,140.000000,0.000775,0.000000,0.006979,0.000000,0.0,0.0,78.0,0.4,22.000000,7.1,66.0,1.000000,2.000000
2123,140.000000,0.000980,0.000000,0.006863,0.000000,0.0,0.0,79.0,0.4,20.000000,6.1,67.0,1.000000,1.990464
2124,140.000000,0.000679,0.000000,0.006110,0.000000,0.0,0.0,78.0,0.4,27.000000,7.0,66.0,1.000000,2.000000
2125,142.000000,0.001616,-0.000188,0.008078,0.000000,0.0,0.0,74.0,0.4,35.857183,5.0,42.0,0.000000,1.000000

In [18]:
df.describe()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
count,2105.000000,2106.000000,2126.000000,2126.000000,2126.000000,2105.000000,2105.000000,2126.000000,2126.000000,2126.000000,2105.000000,2105.000000,2105.000000,2105.000000
mean,133.343598,0.003219,0.009894,0.004391,0.001895,0.000003,0.000175,46.995984,1.364378,10.285964,8.284887,70.429260,0.316371,1.304507
std,11.270154,0.004391,0.067540,0.003340,0.003343,0.000142,0.000840,18.813973,1.173632,21.205041,7.772858,42.931822,0.645622,0.644619
min,51.842487,-0.019284,-0.480634,-0.014925,-0.015393,-0.001353,-0.005348,-63.000000,-6.600000,-91.000000,-50.700000,-174.000000,-3.000000,-1.025988
25%,126.000000,0.000000,0.000000,0.001851,0.000000,0.000000,0.000000,32.000000,0.700000,0.000000,4.600000,37.000000,0.000000,1.000000
50%,133.000000,0.001634,0.000000,0.004484,0.000000,0.000000,0.000000,49.000000,1.200000,0.000000,7.400000,67.000000,0.000000,1.000000
75%,140.000000,0.005650,0.002567,0.006536,0.003289,0.000000,0.000000,61.000000,1.700000,11.000000,10.900000,100.000000,1.000000,1.000000
max,214.000000,0.038567,0.961268,0.030002,0.030769,0.002706,0.010695,162.000000,13.800000,182.000000,101.400000,357.000000,3.000000,5.000000

In [44]:
df.dtypes

LB          float64
AC          float64
FM          float64
UC          float64
DL          float64
DS          float64
DP          float64
ASTV        float64
MSTV        float64
ALTV        float64
MLTV        float64
Width       float64
Tendency    float64
NSP         float64
dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126 entries, 0 to 2125
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LB        2105 non-null   float64
 1   AC        2106 non-null   float64
 2   FM        2126 non-null   float64
 3   UC        2126 non-null   float64
 4   DL        2126 non-null   float64
 5   DS        2105 non-null   float64
 6   DP        2105 non-null   float64
 7   ASTV      2126 non-null   float64
 8   MSTV      2126 non-null   float64
 9   ALTV      2126 non-null   float64
 10  MLTV      2105 non-null   float64
 11  Width     2105 non-null   float64
 12  Tendency  2105 non-null   float64
 13  NSP       2105 non-null   float64
dtypes: float64(14)
memory usage: 232.7 KB

In [21]:
df['DS'].unique()

array([ 0.00000000e+00, -1.79000000e-06,  3.66773608e-06,             nan,
       -3.24000000e-06,  2.54296927e-06, -2.26000000e-06,  8.65602121e-07,
        1.16544621e-06,  5.57785247e-07, -2.22000000e-06, -3.09000000e-06,
       -2.52000000e-06, -3.27000000e-06,  6.32344823e-06, -1.09000000e-06,
       -5.37000000e-06, -1.70000000e-06,  3.21484620e-06,  3.47927095e-06,
       -4.21000000e-06,  1.04857389e-06,  2.70636000e-03, -8.96000000e-08,
        1.39285783e-06, -3.98000000e-07, -4.76000000e-07,  3.55635347e-06,
        4.07729571e-06,  3.72913403e-06, -2.61000000e-07,  6.18521847e-08,
       -2.51000000e-06,  1.35429413e-08,  4.56585228e-06, -2.90000000e-06,
       -2.50000000e-06, -2.05000000e-06, -1.35318000e-03,  4.22410892e-07,
        3.26310012e-06,  1.94962916e-06, -5.05000000e-06,  3.00612027e-06,
       -1.22000000e-07,  3.95240056e-07, -3.45000000e-07,  2.25957299e-06,
       -7.38000000e-07, -8.13000000e-07, -6.65000000e-06, -8.23000000e-07,
        1.25862971e-06,  2.82787067e-06,  3.79120193e-06,  6.27902543e-07,
        4.55755753e-06, -8.07000000e-07,  6.22551652e-07, -1.23000000e-06,
        2.43489601e-06,  2.64732964e-07,  1.54247959e-06,  3.94938294e-06,
       -4.01000000e-06,  4.37322281e-06, -2.59000000e-06, -6.52000000e-06,
        3.62434484e-06, -2.47000000e-06,  4.87618149e-06,  5.98585341e-06,
        2.13636840e-06,  8.90472000e-04,  1.07874900e-03, -1.47000000e-06,
        1.49294859e-06, -4.74000000e-07, -2.01000000e-06,  9.18736969e-08,
        2.51435683e-06,  2.39729912e-06,  1.24353507e-06,  4.66562458e-06,
        1.42832374e-06,  2.90503158e-06,  1.55883896e-06, -3.74000000e-07,
        2.29228039e-06,  1.43101515e-06, -1.55000000e-06,  2.70394500e-03,
        9.47867000e-04,  1.17785600e-03,  1.14416500e-03,  1.35318000e-03,
       -3.84000000e-06,  2.87574663e-06, -8.51000000e-10, -1.55000000e-09,
        3.20261364e-06, -6.05000000e-08, -3.62000000e-07,  3.35723514e-06,
        1.05079275e-06, -1.07000000e-06,  2.40816420e-06,  7.53898344e-07,
        1.60485495e-06,  4.24967452e-06, -4.11000000e-06,  2.39016203e-07,
       -2.12000000e-06, -8.72000000e-07,  9.48839789e-07])

In [22]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2121    False
2122    False
2123    False
2124    False
2125    False
Length: 2126, dtype: bool

In [23]:
df.duplicated().sum()

2

In [24]:






df.drop_duplicates(inplace=True)

In [25]:
df.shape

(2124, 14)

In [26]:
df.duplicated().sum()

0

In [27]:
df

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
0,120.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,73.0,0.5,43.000000,2.4,64.0,0.999926,2.000000
1,132.000000,0.006380,0.000000,0.006380,0.003190,0.0,0.0,17.0,2.1,0.000000,10.4,130.0,0.000000,1.000000
2,133.000000,0.003322,0.000000,0.008306,0.003322,0.0,0.0,16.0,2.1,0.000000,13.4,130.0,0.000000,1.000000
3,134.000000,0.002561,0.000000,0.007742,0.002561,0.0,0.0,16.0,2.4,0.000000,23.0,117.0,1.000000,1.000000
4,131.948232,0.006515,0.000000,0.008143,0.000000,0.0,0.0,16.0,2.4,0.000000,19.9,117.0,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121,140.000000,0.000000,0.961268,0.007426,0.000000,0.0,0.0,79.0,0.2,25.000000,7.2,40.0,0.000000,2.000000
2122,140.000000,0.000775,0.000000,0.006979,0.000000,0.0,0.0,78.0,0.4,22.000000,7.1,66.0,1.000000,2.000000
2123,140.000000,0.000980,0.000000,0.006863,0.000000,0.0,0.0,79.0,0.4,20.000000,6.1,67.0,1.000000,1.990464
2124,140.000000,0.000679,0.000000,0.006110,0.000000,0.0,0.0,78.0,0.4,27.000000,7.0,66.0,1.000000,2.000000
2125,142.000000,0.001616,-0.000188,0.008078,0.000000,0.0,0.0,74.0,0.4,35.857183,5.0,42.0,0.000000,1.000000

In [28]:
df.isna().sum()

LB          21
AC          20
FM           0
UC           0
DL           0
DS          21
DP          21
ASTV         0
MSTV         0
ALTV         0
MLTV        21
Width       21
Tendency    21
NSP         21
dtype: int64

In [29]:
for i in df.isna().sum():
    print((i/len(df))*100)

0.9887005649717515
0.9416195856873822
0.0
0.0
0.0
0.9887005649717515
0.9887005649717515
0.0
0.0
0.0
0.9887005649717515
0.9887005649717515
0.9887005649717515
0.9887005649717515

In [30]:
df['LB'].median()
LB_median = df['LB'].median()
df['LB'].fillna(LB_median, inplace=True) 

df['AC'].median()
AC_median = df['AC'].median()
df['AC'].fillna(AC_median, inplace=True)

df['DS'].median()
DS_median = df['DS'].median()
df['DS'].fillna(DS_median, inplace=True)

df['DP'].median()
DP_median = df['DP'].median()
df['DP'].fillna(DP_median, inplace=True)

df['MLTV'].median()
MLTV_median = df['MLTV'].median()
df['MLTV'].fillna(MLTV_median, inplace=True)

df['Width'].median()
Width_median = df['Width'].median()
df['Width'].fillna(Width_median, inplace=True)

df['Tendency'].median()
Tendency_median = df['Tendency'].median()
df['Tendency'].fillna(Tendency_median, inplace=True)

df['NSP'].median()
NSP_median = df['NSP'].median()
df['NSP'].fillna(NSP_median, inplace=True)

In [31]:
df.isna().sum()

LB          0
AC          0
FM          0
UC          0
DL          0
DS          0
DP          0
ASTV        0
MSTV        0
ALTV        0
MLTV        0
Width       0
Tendency    0
NSP         0
dtype: int64

In [32]:
df.describe()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
count,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.00000,2124.000000,2124.000000,2124.000000
mean,133.338641,0.003205,0.009904,0.004394,0.001897,0.000002,0.000174,47.012459,1.364345,10.295650,8.27184,70.431643,0.313541,1.301783
std,11.212447,0.004374,0.067571,0.003340,0.003344,0.000141,0.000836,18.812403,1.174084,21.212676,7.73691,42.727919,0.643417,0.642369
min,51.842487,-0.019284,-0.480634,-0.014925,-0.015393,-0.001353,-0.005348,-63.000000,-6.600000,-91.000000,-50.70000,-174.000000,-3.000000,-1.025988
25%,126.000000,0.000000,0.000000,0.001858,0.000000,0.000000,0.000000,32.000000,0.700000,0.000000,4.60000,37.000000,0.000000,1.000000
50%,133.000000,0.001634,0.000000,0.004486,0.000000,0.000000,0.000000,49.000000,1.200000,0.000000,7.40000,67.486468,0.000000,1.000000
75%,140.000000,0.005612,0.002568,0.006536,0.003292,0.000000,0.000000,61.000000,1.700000,11.000000,10.80000,100.000000,1.000000,1.000000
max,214.000000,0.038567,0.961268,0.030002,0.030769,0.002706,0.010695,162.000000,13.800000,182.000000,101.40000,357.000000,3.000000,5.000000

In [33]:
df.hist()       #outliers
plt.tight_layout()

In [34]:
df.boxplot()
plt.tight_layout()

In [35]:
df['LB'].quantile(0.75)

140.0

In [36]:
def capping(data, columns):
    for col in columns:
        q1 = data[col].quantile(0.25)
        q3 = data[col].quantile(0.75)
        iqr = q3-q1
    
        lower = q1-(1.5*iqr)
        upper = q3+(1.5*iqr)
        
        df[col] = np.where(df[col] > upper, upper, np.where(df[col] < lower, lower,df[col]))

In [37]:
df.columns

Index(['LB', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'ASTV', 'MSTV', 'ALTV',
       'MLTV', 'Width', 'Tendency', 'NSP'],
      dtype='object')

In [38]:
df.drop(columns=['AC']).columns

Index(['LB', 'FM', 'UC', 'DL', 'DS', 'DP', 'ASTV', 'MSTV', 'ALTV', 'MLTV',
       'Width', 'Tendency', 'NSP'],
      dtype='object')

In [39]:
capping(df, df.drop(columns=['AC', 'UC','DS','DL','DP']).columns)

In [40]:
df.boxplot()

In [41]:
df.corr(numeric_only=True)

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
LB,1.000000,-0.075970,-0.006840,-0.165894,-0.133809,-0.006033,-0.052772,0.285464,-0.295132,0.322864,-0.042241,-0.139983,0.281144,NaN
AC,-0.075970,1.000000,0.059889,0.071313,-0.093581,-0.033097,-0.083350,-0.240912,0.196657,-0.360093,-0.133789,0.249067,0.032945,NaN
FM,-0.006840,0.059889,1.000000,-0.290553,-0.004149,0.003368,0.055810,0.155798,0.070412,-0.013820,-0.036439,0.164189,0.000302,NaN
UC,-0.165894,0.071313,-0.290553,1.000000,0.189737,-0.006958,0.070144,-0.195204,0.267557,-0.276467,-0.064348,0.119583,-0.070459,NaN
DL,-0.133809,-0.093581,-0.004149,0.189737,1.000000,0.058413,0.144631,-0.079118,0.502083,-0.247656,-0.226841,0.441587,-0.023507,NaN
DS,-0.006033,-0.033097,0.003368,-0.006958,0.058413,1.000000,0.004317,0.009048,0.025435,-0.008833,-0.004437,0.044142,-0.015915,NaN
DP,-0.052772,-0.083350,0.055810,0.070144,0.144631,0.004317,1.000000,0.040718,0.175593,-0.112258,-0.179482,0.179662,-0.134734,NaN
ASTV,0.285464,-0.240912,0.155798,-0.195204,-0.079118,0.009048,0.040718,1.000000,-0.433731,0.438800,-0.323930,-0.242114,-0.010237,NaN
MSTV,-0.295132,0.196657,0.070412,0.267557,0.502083,0.025435,0.175593,-0.433731,1.000000,-0.541296,0.010734,0.646202,-0.064696,NaN
ALTV,0.322864,-0.360093,-0.013820,-0.276467,-0.247656,-0.008833,-0.112258,0.438800,-0.541296,1.000000,-0.132584,-0.439650,0.052204,NaN
MLTV,-0.042241,-0.133789,-0.036439,-0.064348,-0.226841,-0.004437,-0.179482,-0.323930,0.010734,-0.132584,1.000000,0.073585,0.142741,NaN
Width,-0.139983,0.249067,0.164189,0.119583,0.441587,0.044142,0.179662,-0.242114,0.646202,-0.439650,0.073585,1.000000,0.101228,NaN
Tendency,0.281144,0.032945,0.000302,-0.070459,-0.023507,-0.015915,-0.134734,-0.010237,-0.064696,0.052204,0.142741,0.101228,1.000000,NaN
NSP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
sns.heatmap(df.corr(numeric_only=True), annot = True, cmap='twilight')

In [43]:
sns.pairplot(df)